In [1]:
%pwd

'/home/xupb/scRNA_data/mouse_pfc/manuscripts/scanpy'

In [2]:
#Run the below code in your notebook to check the installed version
import pandas as pd
from pycaret.utils import version
version()
from sklearn.utils import shuffle
from sklearn.preprocessing import LabelEncoder
from sklearn.utils import column_or_1d
from pycaret.classification import *

1.0.0

In [3]:
data=pd.read_csv('/home/xupb/scRNA_data/mouse_pfc/manuscripts/barcode_projection/random_150_MD_valid_binary_normdata.csv',index_col=0)

In [4]:
data['binary'].value_counts()

Others      2539
MD_valid    1017
Name: binary, dtype: int64

In [5]:
data.head()

,Nckap1l,Sar1b,Cebpg,Eif2d,Nmt1,Tcta,Gm26619,Gm4779,Tmem129,Rnf144a,...,Gm48420,Dnaja2,Gm15063,Tesc,Pcyt2,Abcf2,Aldh3a2,Gm17056,Arrb1,binary
pfc_1_AAACCCAAGTCGTTAC,0.0,1.147602,2.008468,1.147602,1.667945,0.000000,0.0,0.0,0.0,0.000000,...,0.0,2.632161,0.0,2.008468,2.008468,1.147602,0.000000,1.147602,0.000000,Others
pfc_1_AAAGGGCGTGGCATCC,0.0,0.000000,1.411504,0.000000,1.974670,0.000000,0.0,0.0,0.0,0.000000,...,0.0,2.332762,0.0,2.332762,0.000000,1.974670,0.000000,0.000000,1.974670,Others
pfc_1_AACCCAATCCGCTTAC,0.0,0.000000,1.034382,1.531852,1.034382,0.000000,0.0,0.0,0.0,1.531852,...,0.0,1.531852,0.0,1.034382,1.034382,1.531852,1.531852,0.000000,2.110634,Others
pfc_1_AAGAACAAGAGAGCCT,0.0,1.996056,1.137830,1.137830,1.137830,1.137830,0.0,0.0,0.0,0.000000,...,0.0,2.618851,0.0,2.888143,0.000000,1.656318,1.137830,0.000000,1.137830,Others
pfc_1_ACAAGCTCAAAGCACG,0.0,0.818405,0.000000,0.000000,1.262363,1.262363,0.0,0.0,0.0,1.568750,...,0.0,2.151912,0.0,1.568750,0.818405,1.568750,0.000000,1.262363,1.568750,Others

In [6]:
data['binary']=pd.factorize(data['binary'])[0]

In [7]:
data.head()

,Nckap1l,Sar1b,Cebpg,Eif2d,Nmt1,Tcta,Gm26619,Gm4779,Tmem129,Rnf144a,...,Gm48420,Dnaja2,Gm15063,Tesc,Pcyt2,Abcf2,Aldh3a2,Gm17056,Arrb1,binary
pfc_1_AAACCCAAGTCGTTAC,0.0,1.147602,2.008468,1.147602,1.667945,0.000000,0.0,0.0,0.0,0.000000,...,0.0,2.632161,0.0,2.008468,2.008468,1.147602,0.000000,1.147602,0.000000,0
pfc_1_AAAGGGCGTGGCATCC,0.0,0.000000,1.411504,0.000000,1.974670,0.000000,0.0,0.0,0.0,0.000000,...,0.0,2.332762,0.0,2.332762,0.000000,1.974670,0.000000,0.000000,1.974670,0
pfc_1_AACCCAATCCGCTTAC,0.0,0.000000,1.034382,1.531852,1.034382,0.000000,0.0,0.0,0.0,1.531852,...,0.0,1.531852,0.0,1.034382,1.034382,1.531852,1.531852,0.000000,2.110634,0
pfc_1_AAGAACAAGAGAGCCT,0.0,1.996056,1.137830,1.137830,1.137830,1.137830,0.0,0.0,0.0,0.000000,...,0.0,2.618851,0.0,2.888143,0.000000,1.656318,1.137830,0.000000,1.137830,0
pfc_1_ACAAGCTCAAAGCACG,0.0,0.818405,0.000000,0.000000,1.262363,1.262363,0.0,0.0,0.0,1.568750,...,0.0,2.151912,0.0,1.568750,0.818405,1.568750,0.000000,1.262363,1.568750,0

In [8]:
exp1 = setup(data, target = 'binary',session_id=1)

Setup Succesfully Completed!

In [9]:
tuned_xgboost = tune_model('xgboost')

      Accuracy     AUC  Recall   Prec.      F1   Kappa
0       0.8554  0.8666  0.6761  0.7869  0.7273  0.6297
1       0.8193  0.8718  0.7042  0.6757  0.6897  0.5623
2       0.7510  0.8095  0.6056  0.5584  0.5811  0.4044
3       0.8273  0.9064  0.6761  0.7059  0.6906  0.5709
4       0.8273  0.8547  0.6901  0.7000  0.6950  0.5746
5       0.7952  0.8693  0.6761  0.6316  0.6531  0.5080
6       0.8153  0.8712  0.6901  0.6712  0.6806  0.5506
7       0.8032  0.8470  0.6528  0.6620  0.6573  0.5193
8       0.8072  0.8582  0.6944  0.6579  0.6757  0.5387
9       0.7540  0.7482  0.5493  0.5735  0.5612  0.3904
Mean    0.8055  0.8503  0.6615  0.6623  0.6611  0.5249
SD      0.0308  0.0410  0.0458  0.0622  0.0493  0.0712

In [10]:
save_experiment('Experiment_MD_random_19July2020')

Experiment Succesfully Saved

In [3]:
saved_experiment = load_experiment('Experiment_MD_random_19July2020')

                           Object
0     Classification Setup Config
1                  X_training Set
2                  y_training Set
3                      X_test Set
4                      y_test Set
5         Transformation Pipeline
6             Tuned XGBClassifier
7  Tuned XGBClassifier Score Grid

In [4]:
exp1=saved_experiment
tuned_xgboost=exp1[6]

In [5]:
from sklearn.model_selection import train_test_split
from pycaret import preprocess
from sklearn import metrics

X = exp1[3]
y = exp1[4]

# Number of random trials
NUM_TRIALS = 10
d = []
for i in range(NUM_TRIALS):
    
    X_train, X_test, y_train, y_test  = train_test_split(X, y,stratify=y, test_size=0.9,  random_state=i)
    pred_ =tuned_xgboost.predict(X_test)
    pred_prob = tuned_xgboost.predict_proba(X_test)[:,1]
    acc = metrics.accuracy_score(y_test,pred_)
    auc = metrics.roc_auc_score(y_test,pred_prob)
    prec = metrics.precision_score(y_test,pred_)
    f1 = metrics.f1_score(y_test,pred_)
    recall = metrics.recall_score(y_test,pred_)
    kappa = metrics.cohen_kappa_score(y_test,pred_)
    d.append(
        {
           'Accuracy' : acc, 'AUC': auc, 'F1' : f1, 'Precision':prec, 'Recall':recall, 'Kappa':kappa
        }
    )
    model_results=pd.DataFrame(d)

In [6]:
model_results

        AUC  Accuracy        F1     Kappa  Precision    Recall
0  0.832468  0.795005  0.629002  0.487628   0.652344  0.607273
1  0.828322  0.789802  0.624535  0.478682   0.638783  0.610909
2  0.841103  0.800208  0.641791  0.503394   0.659004  0.625455
3  0.831884  0.789802  0.621723  0.476371   0.640927  0.603636
4  0.832828  0.791883  0.626866  0.482702   0.643678  0.610909
5  0.825709  0.788762  0.621974  0.475523   0.637405  0.607273
6  0.823981  0.785640  0.615672  0.467183   0.632184  0.600000
7  0.826059  0.788762  0.621974  0.475523   0.637405  0.607273
8  0.835288  0.790843  0.622889  0.478385   0.643411  0.603636
9  0.832128  0.792924  0.626642  0.483575   0.647287  0.607273